/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  min-height: 200vh;
}
/* global end */
/* navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  transition: 0.6s;
  z-index: 1000;
  background-color: rgba(20, 73, 27, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

nav.sticky {
  padding: 10px 50px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 15px;
  transition: 0.6s;
}

nav .logo {
  color: #000000;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
nav .logo-t {
  color: white;
}
/* nav atas normal */
nav .ula {
  display: flex;
  justify-content: center;
  align-items: center;

}

nav .ula li {
  list-style: none;
}

nav .ula li a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}

nav.sticky .ula li a {
  color: #000;
}
/* navbar atas end */
/* navbar bawah */
nav .ulb {
  position: absolute;
  top: 80px;
  margin-left: 425px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  text-decoration: none;
  list-style: none;

  .link{
    padding-left: 20px;
    padding-right: 20px;
    width: 80px;
    height: auto;
  }
  .link-fb{
    padding-left: 20px;
    padding-right: 20px;
    width: 73px;
    height: auto;
  }
  .link-ig{
    padding-left: 20px;
    padding-right: 20px;
    width: 73px;
    height: auto;
  }
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

nav.sticky .ulb {
  transition: 0.8s;
  top: 68px;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
/* navbar bawah end */

nav.sticky .logo-t {
  color: #000;
}
  /* navbar bawah end */
/* container about us  */
.container-about {
  display: flex;
  margin: auto;
  width: 100%;
  height: 95vh;
  background-color: green;
}
.cont-foto {
  /* background-color: red; */
  display: relative;
  width: 300px;
  margin-top: 180px;
  margin-left: auto;
  margin-right: 415px;
}
.foto {
  align-items: center;
  display: relative;
  width: 700px;
  height: 400px;
}
.about {
  align-content: center;
  margin-left: 5px;
  background-color: aqua;
  display: flex;
  margin-top: 180px;
  margin-left: 10px;
  width: 600px;
  height: 400px;
}
.teks {
  align-content: center;
  text-align: center;
}
.profile {
  text-align: justify;
  padding: 10px;
}
/* visi */
.visi,
.misi {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.visi {
  background-color: orange;
  width: 100%;
  height: 250px;
}
.box-visi{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 400px;
    height: 200px;
}
/* visi end */
/* misi */
.misi {
  background-color: yellow;
  width: 100%;
  height: 300px;
}
.box-misi{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 400px;
    height: 200px;
    p{
      text-align: left;
      margin-left:15px;
    }
}
/* misi end */

.sejarah {
  background-color: orange;
  width: 100%;
  height: 250px;
}
.box-sejarah{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 400px;
    height: 200px;
}

/* footer style  */
footer {
  display: relative;
  margin-top: 100px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  bottom: 0;
  width: 100%;
}
.container-f{
  display: flex;

}
.location{
  margin-left: 130px;
  background: #7a5656;
  width: 40%;
  height: 100px;
  padding-right: 20px;
  padding-left: 10px;
}
.alamat{
  border-bottom: 2px solid green;
  padding-bottom: 20px;
}
.contact{
  background: #ff0000;
  width: 40%;
  height: 100px;
  padding-right: 20px;
  padding-left: 10px;
}
.nomor{
  border-bottom: 2px solid green;
  padding-bottom: 20px;
}
.copyright{
  margin-top: 10px;
  text-align: center;
}
/* footer end */
